/*Nav-Bar Style */
.nav_project {
  display:inline-flex;
  justify-content:right;
}

.nav {
  display: flex;
  justify-content: right;
}

.navbar-nav {
  width: 100;
}

.navbar {
  background-color:white;
  position:fixed;
  top:0;
  width: 100%;
}




h5 {
  color:coral;
}

h1.main-title {
  font-size: 45px;
  font-weight: bold;
  color: #ee7427;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Bebas Neue';
}
/*End Nav-Bar Style */

/*Style Cards Why 10 Weeks?*/
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700);

body {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.4em;
  color: #333;
  background: #eee;
  background-position: center center;
}

h1 {
  margin: 0.5em 0 1em 0;
  font-size: 1.8em;
  font-weight: 700;
  color: #096AA3;
}

h2{
  font-weight: bold;
}

p {
  margin-bottom: 1em;
}

.animation {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.pageTitle sup
{
  font-size: .6em;
  color: #333;
}
.well {
  padding: 3%;
  margin: 20px auto;
  border:none;
  text-align: center;
}
.well p
{
  font-weight: 300;
}
.content p
{   
  font-weight: 300;
}
.cardContainer {
 
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;

  
  /*depth of the elements */
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;

  padding-left: 1%;
}
.secondRow
{
  margin-top: -1.4%
}

.card 
{
  width: 99%;
  height: 450px;
  cursor: pointer;
  margin-bottom: 30px;
  
  /*transition effects */
  -webkit-transition: -webkit-transform 0.6s;
  -moz-transition: -moz-transform 0.6s;
  -o-transition: -o-transform 0.6s;
  transition: transform 0.6s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.card.flipped 
{
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
}

.card .front,
.card .back {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 60px;
  color: white;
  text-align: center;
  font-size: 4em;
  position: absolute;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  box-shadow: 3px 5px 20px 2px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 2px 5px rgba(0, 0, 0, 0.26);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 2px 5px rgba(0, 0, 0, 0.26);
}

.card .back {
  width: 100%;
  padding-left: 3%;
  padding-right: 3%;
  font-size: 16px;
  text-align: left;
  line-height: 25px;
}

.card .back {
  background: #03446A;
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
}

/*Colors for front and back applied here*/
.cardContainer:first-child .card .front {
  background: #00939B;
}

.cardContainer:first-child .card .back {
  background: #00939B;
}

.cardContainer:nth-child(2) .card .front {
  background: #ee7427;
}
.cardContainer:nth-child(2) .card .back {
  background: #ee7427;
}

.cardContainer:nth-child(3) .card .front {
  background: #00939B;
}
.cardContainer:nth-child(3) .card .back {
  background: #00939B;
}

.cardContainer:nth-child(4) .card .front 
{
  background:#ee7427;
}
.cardContainer:nth-child(4) .card .back 
{
  background: #ee7427;
}

h4.cardTitle {
  line-height: 1.2em;
  margin-top: 8%;
  font-weight: 600;
}
.content h4.cardTitle
{
  margin-top: 0%;
}

.content {
  padding: 0%;
  font-weight: 100;
  text-align: left;
  font-weight: bold;
}

@media all and (max-width: 1000px){
  h3.cardTitle{
      font-weight: 500;
       
  }
  .content p
  {
    margin-top: -15%;
    line-height: 1.2em;
  }
  
  .card
  {
   height:175px;
   margin-bottom: 30px;
  }

}
@media all and (max-width : 752px) {
 
  .secondRow
  {
    margin-top: -3%;
  }
  .cardContainer:nth-child(3),.cardContainer:nth-child(4)
  {
    margin-top: 3%;
  }

}
@media all and (max-width : 390px) {
 
  .card
  {
  width:100%;
  height:150px;
  margin-bottom: 20px;
  }
  .secondRow
  {
    margin-top: -9%;
  }
  .well 
  {
  padding: 1%;
  }
   .cardContainer:nth-child(3),.cardContainer:nth-child(4)
  {
    margin-top: 5%;
  }
  h3.cardTitle
  {
   font-weight: 500;     
  }
  .content p
  {
    margin-top: -20%;
    line-height: 1.2em;
  }
  .cardWrapper
  {
    margin-left: 4%;
  }

}
/*End Style Cards Why 10 Weeks?*/

/*Image Style */
.image {
  width: 100%;
  margin-top: auto;
  height: auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.imgCircle {
  width:300px;
  height:300px;
  border-radius:160px;
  border:10px solid #666;
}

label {
  display: block;
  font: 1rem 'Fira Sans', sans-serif;
  width: fixed;
}

input,
label {
  margin: .4rem 0;
}

/*Form*/
.form-group {
  margin-left: 250px;
  margin-right: 250px;        
  border-radius: 0%;
}

.btn {
  margin-left: 40%;
}

.customized {
  margin-left: 40%;
}

input {
/*width: 200px;*/
background-color: orange;
color: white;
padding: 14px 20px;
margin: 8px 0;
margin-left: 25%;
    border: none;
    border-radius: 4px;
    cursor: "pointer";
    
    }
    label {
      width: fixed;
    }

.btn {
  border-radius: 40px;

    }

#Image {
  width: 640px;
  margin: 0 auto;
  position:relative;
}

#textbox {
  margin-top:100px;
  background-color:black;
  position: absolute;
  width: 300px;
  height: 200px;
  opacity: 0.5;
  top: -12px;
  left: 35px;
  text-align: center;
  border: 2px solid black;
}

#content {
  padding: 100px 30px;
}

.photo {
  width: 100%;
  height: 100%;
}
.centered {
  position:absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-weight: bold;
}

img {
  display: block;
}
/*End Image Style */

/*Style Author Information*/
h1 {
  margin-left: 200px;  
  }
  img {
    justify-content: space-between;
  }
  
/*End Style Author Information*/

/*Form Style */
.form-check {
  margin-left: 45%;
}

.w3-btn {
  align-items: center;
}

.title {
  font-size: 150;
  font-weight: bold;
  color: #ee7427;
  text-align: center;
  font-family: 'Bebas Neue';
}
/*End Form Style */

/*New Form*/
/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid white;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}
/* Style the submit button */

/* Style the container */
.container-form {
  border-radius: 5px;
  background-color:white;
  padding: 20px;
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
/*End New Form*/

/*Paragraph Style*/
sub{
  font-size: small;
}
span{
  font-size: 25px;
  text-align: center;
}
.paragraph {
color:#00939B;
text-align: justify;
font-weight: bold;
margin-left: 60px;
margin-right: 60px; 
} 
.second {
font-weight: 100%;
color: aliceblue;
font-size: normal;
box-shadow: none;
}

.group {
color: orange;
text-align: justify;
font-weight: bold;
margin-left: 60px;
margin-right: 60px; 
}
/*End Paragraph Style*/

.icon {
  color: white;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.fa-user:hover {
  color: #eee;
}
/*END ICON*/


/*Card-Carousel Style */
.container {
  height:fit-content;
}

.cta-100 {
  margin-top: 50px;
  padding-left: 8%;
  padding-top: 7%;
}
.col-md-4{
    padding-bottom:20px;
}

.white {
  color: #fff !important;
}
.mt{float: left;margin-top: -20px;padding-top: 20px;}
.bg-blue-ui {
  background-color: #708198 !important;
}
figure img{width:300px;}

#blogCarousel {
  padding-bottom: 5px;
}

.blog .carousel-indicators {
  left: 0;
  top: -50px;
  height: 50%;
}

/* The colour of the indicators */

.blog .carousel-indicators li {
  background: #708198;
  border-radius: 50%;
  width: 8px;
  height: 8px;
}

.blog .carousel-indicators .active {
  background: #0fc9af;
}

.item-carousel-blog-block {
  outline: medium none;
  padding: 15px;
}

.item-box-blog {
  border: 1px solid #dadada;
  text-align: center;
  z-index: 4;
  padding: 10px;
  height: 650px;;
}

.item-box-blog-text {
  display: flex;
  justify-content: center;
}

.item-box-blog-image {
  position: relative;
}

.item-box-blog-image figure img {
  width: 100%;
  height: auto;
}

.item-box-blog-date span.mon {
  font-size: 18px;
}

.item-box-blog-date span.day {
  font-size: 16px;
}

.item-box-blog-text p {
  color:gray;
}

.item-heading-blog a h5 {
  margin: 0;
  line-height: 1;
  text-decoration:none;
  transition: color 0.3s;
}

.item-box-blog-heading a {
    text-decoration: none;
    color: #00939B;
    height: fit-content;
}

.item-box-blog-data p {
  font-size: 13px;
}

.item-box-blog-data p i {
  font-size: 12px;
}

.mt-10 {
  float: left;
  margin-top: -10px;
  padding-top: 10px;
}

.btn.bg-blue-ui.white.read {
  cursor: pointer;
  padding: 4px 20px;
  float: left;
  margin-top: 10px;
}

.btn.bg-blue-ui.white.read:hover {
  box-shadow: 0px 5px 15px inset #4d5f77;
}
/* End Card-Carousel Style */

/*Style Footer*/
.col_white_amrc { color:#FFF;}
footer { width:100%; background-color:#263238; min-height:100px; padding:10px 0px 25px 0px ;}
.pt2 { padding-top:40px ; margin-bottom:20px ;}
footer p { font-size:13px; color:#CCC; padding-bottom:0px; margin-bottom:8px;}
.mb10 { padding-bottom:15px ;}
.footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
.footer_ul_amrc li {padding:0px 0px 5px 0px;}
.footer_ul_amrc li a{ color:#CCC;}
.footer_ul_amrc li a:hover{ color:#fff; text-decoration:none;}
.fleft { float:left;}
.padding-right { padding-right:10px; }
.footer_ul2_amrc {margin:0px; list-style-type:none; padding:0px;}
.footer_ul2_amrc li p { display:table; }
.footer_ul2_amrc li a:hover { text-decoration:none;}
.footer_ul2_amrc li i { margin-top:5px;}
.bottom_border { border-bottom:1px solid #323f45; padding-bottom:20px;}
.foote_bottom_ul_amrc {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.foote_bottom_ul_amrc li { display:inline;}
.foote_bottom_ul_amrc li a { color:#999; margin:0 12px;}
.social_footer_ul { display:table; margin:10px auto 0 auto; list-style-type:none;  }
.social_footer_ul li { padding-left:35px; padding-top:10px; float:left; }
.social_footer_ul li a { color:#CCC; border:1px solid #CCC; padding:8px;border-radius:50%;}
.social_footer_ul li i {  width:20px; height:20px; text-align:center;}
.img_footer {
  height: 60%;
  width: 60%;
  margin-right: 40px;
}

.container-footer {
  background-color: #263238;
  border-radius: 5px;
  padding: 20px;
}
/*End Style Footer*/
#fname {
  background-color: white;
  border: 1px solid #00939B;
  color: #00939B;
}

#lname {
  background-color: white;
  border: 1px solid #00939B;
  color: #00939B;
}
/*Style Testimonials*/
.testimonial1 {
  font-size: small;
  justify-content: center;
}

/*End Style Testimonials*/