/*Nav-Bar Style */
.nav_project {
  display:inline-flex;
  justify-content:right;
  
}

.nav {
  display: flex;
  justify-content: right;
  
}

.navbar-nav {
  width: 100;
  
}

.navbar {
  background-color:white;
  position:fixed;
  top:0;
  width: 100%;
}

h5 {
  color:coral;
}

/*End Nav-Bar Style */




/*Image Style */
.image {
  width: 100%;
  margin-top: auto;
  height: auto;
  
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;

}


.imgCircle {
  width:300px;
  height:300px;
  border-radius:160px;
  border:10px solid #666;
}

label {
  display: block;
  font: 1rem 'Fira Sans', sans-serif;
  width: fixed;
}

input,
label {
  margin: .4rem 0;
}

/*.Image {
  position: relative;
  display: inline-block;
}

.Image .content {
  position:absolute; /* Position the background text */
  /*bottom:0; /* At the bottom. Use top:0 to append it to the top */
  
  /*background: rgb(0, 0, 0); /* Fallback color */
  /*background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  /*color: #f1f1f1; /* Grey text */
  /*width: 100%; /* Full width */
  /*padding: 50px; /* Some padding */
/*}*/

/* try1*/

/*Form*/

.form-group {
  margin-left: 250px;
  margin-right: 250px;        
  border-radius: 0%;
}

input {
width: 200px;
background-color: orange;
color: white;
padding: 14px 20px;
margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: "pointer";
    
    }
    label {
      width: fixed;
    }
/*.center_text{
      
    }*/


#Image {
  width: 640px;
  margin: 0 auto;

  position:relative;

  
}

#textbox {
  margin-top:100px;
  background-color:black;
  position: absolute;
  width: 300px;
  height: 200px;
  opacity: 0.5;
  top: -12px;
  left: 35px;
  text-align: center;
  border: 2px solid black;
}

#content {
  padding: 100px 30px;
}


.centered {
  position:absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  text-align: center;
  color: white;
  font-weight: bold;

}

img {
  display: block;
}





/*End Image Style */

/*Form Style */
.form-check {
  
  margin-left: 45%;
}

.w3-btn {
  align-items: center;
}

.title {
  text-align: center;
  font-size: 20;
}
/*End Form Style */



/*Paragraph Style*/

sub{
  font-size: small;
}
span{
  font-size: 25px;
  text-align: center;
}
.paragraph {
  color:#00939B;
text-align: justify;
font-weight: bold;
margin-left: 60px;
margin-right: 60px; 
} 
.second {
font-weight: 100%;
color: aliceblue;
font-size: normal;
box-shadow: none;
}
/*End Paragraph Style*/


/* ICON*/

/*.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color:orange;
}
.container:hover .overlay {
  opacity: 1;
}*/

.icon {
  color: white;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.fa-user:hover {
  color: #eee;
}
/*END ICON*/


/*Card-Carousel Style */

.container {
  height:fit-content;
}

.cta-100 {
  margin-top: 50px;
  padding-left: 8%;
  padding-top: 7%;
}
.col-md-4{
    padding-bottom:20px;
}

.white {
  color: #fff !important;
}
.mt{float: left;margin-top: -20px;padding-top: 20px;}
.bg-blue-ui {
  background-color: #708198 !important;
}
figure img{width:300px;}

#blogCarousel {
  padding-bottom: 100px;
  
}


.blog .carousel-indicators {
  left: 0;
  top: -50px;
  height: 50%;
  
}




/* The colour of the indicators */

.blog .carousel-indicators li {
  background: #708198;
  border-radius: 50%;
  width: 8px;
  height: 8px;
}

.blog .carousel-indicators .active {
  background: #0fc9af;
}

.item-carousel-blog-block {
  outline: medium none;
  padding: 15px;
}

.item-box-blog {
  border: 1px solid #dadada;
  text-align: center;
  z-index: 4;
  padding: 10px;
  height: 650px;;
}


.item-box-blog-text {
  display: flex;
  justify-content: center;
}



.item-box-blog-image {
  position: relative;
}

.item-box-blog-image figure img {
  width: 100%;
  height: auto;
}


.item-box-blog-date span.mon {
  font-size: 18px;
}

.item-box-blog-date span.day {
  font-size: 16px;
}



.item-box-blog-text p {
  color:gray;
}

/*.item-box-blog-body {
  padding: 10px;
}*/

.item-heading-blog a h5 {
  margin: 0;
  line-height: 1;
  text-decoration:none;
  transition: color 0.3s;
}

.item-box-blog-heading a {
    text-decoration: none;
    color: #00939B;
    height: fit-content;
}

.item-box-blog-data p {
  font-size: 13px;
}

.item-box-blog-data p i {
  font-size: 12px;
}

/*.item-box-blog-text {
  max-height: 180px;
}*/

.mt-10 {
  float: left;
  margin-top: -10px;
  padding-top: 10px;
}

.btn.bg-blue-ui.white.read {
  cursor: pointer;
  padding: 4px 20px;
  float: left;
  margin-top: 10px;
}

.btn.bg-blue-ui.white.read:hover {
  box-shadow: 0px 5px 15px inset #4d5f77;
}

/* End Card-Carousel Style */